@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 100svw;
  height: 100svh;
  background-color: #001233;
  color: #eef4ed;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
